#logo-bg {
    background-image: url(++resource++eea.translations.images/logo-bg.png);
}

#logo-da {
    background-image: url(++resource++eea.translations.images/logo-da.png);
}

#logo-el {
    background-image: url(++resource++eea.translations.images/logo-el.png);
}

#logo-es {
    background-image: url(++resource++eea.translations.images/logo-es.png);
}

#logo-fi {
    background-image: url(++resource++eea.translations.images/logo-fi.png);
}

#logo-hu {
    background-image: url(++resource++eea.translations.images/logo-hu.png);
}

#logo-it {
    background-image: url(++resource++eea.translations.images/logo-it.png);
}

#logo-lt {
    background-image: url(++resource++eea.translations.images/logo-lt.png);
}

#logo-mt {
    background-image: url(++resource++eea.translations.images/logo-mt.png);
}

#logo-nl {
    background-image: url(++resource++eea.translations.images/logo-nl.png);
}

#logo-pl {
    background-image: url(++resource++eea.translations.images/logo-pl.png);
}

#logo-ro {
    background-image: url(++resource++eea.translations.images/logo-ro.png);
}

#logo-sl {
    background-image: url(++resource++eea.translations.images/logo-sl.png);
}

#logo-tr {
    background-image: url(++resource++eea.translations.images/logo-tr.png);
}


#logo-cs {
    background-image: url(++resource++eea.translations.images/logo-cs.png);
}

#logo-de {
    background-image: url(++resource++eea.translations.images/logo-de.png);
}

#logo-et {
    background-image: url(++resource++eea.translations.images/logo-et.png);
}

#logo-fr {
    background-image: url(++resource++eea.translations.images/logo-fr.png);
}

#logo-is {
    background-image: url(++resource++eea.translations.images/logo-is.png);
}

#logo-kl {
    background-image: url(++resource++eea.translations.images/logo-kl.gif);
}

#logo-lv {
    background-image: url(++resource++eea.translations.images/logo-lv.png);
}

#logo-no {
    background-image: url(++resource++eea.translations.images/logo-no.png);
}

#logo-pt {
    background-image: url(++resource++eea.translations.images/logo-pt.png);
}

#logo-sk {
    background-image: url(++resource++eea.translations.images/logo-sk.png);
}

#logo-sv {
    background-image: url(++resource++eea.translations.images/logo-sv.png);
}

#logo-ru {
    background-image: url(++resource++eea.translations.images/logo-ru.png);
}
